<div class="container-fluid">
<div class="row">
  <div class="span8 offset2">
    <h2>Edit <%= resource_name.to_s.humanize %> <%= current_user.user_name %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>

          <div class="control-group">
            <%= f.label "First Name", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :first_name, :autofocus => true, :placeholder => "first name" %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label "Last Name", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :last_name, :placeholder => "last name" %>
            </div>
          </div>
          <% if current_user.account_type != "jobseeker" %>
           <div class="control-group">
              <%= f.label "Company Name", :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :company_name, :placeholder => "your company name" %>
              </div>
            </div>      
          <% end %>
          <div class="control-group">
            <%= f.label :email, :class => "control-label" %>
            <div class="controls">
              <%= f.email_field :email, :autofocus => true, :placeholder => "your@email.com" %>
            </div>
          </div>
          <% if current_user.account_type == "jobseeker" %>
            <div class="control-group">
              <%= f.label "Immigration Status", :class => "control-label" %>
              <div class="controls">
                <%= f.select(:immigration_status,[['H-1B',1],['OPT',2],['L1/L2',3],['H4',4],['None',5]] )%>
              </div>
            </div>
          <% else %>
            <div class="control-group">
              <%= f.label "Address1", :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :address1, :placeholder => "address1" %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label "Address2", :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :address2, :placeholder => "address1" %>
              </div>
            </div>
          <% end %>      
          <div class="control-group">
            <%= f.label "City", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :city, :placeholder => "City Name" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label "Country Name", :class => "control-label" %>
            <div class="controls">
              <%= f.select(:country_id, options_from_collection_for_select(Country.all, :id, :name, current_user.country_id)) %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label "User Name", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :user_name, :placeholder => "User name" %>
            </div>
          </div> 
          <div class="control-group">
            <%= f.label :password, :class => "control-label" %>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password_confirmation, :class => "control-label" %>
            <div class="controls">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :current_password, :class => "control-label" %><i>(we need your current password to confirm your changes)</i><br />
            <div class="controls">
              <%= f.password_field :current_password %>
            </div>
          </div>
          
          <% if current_user.account_type == "jobseeker" %>
            <input type="hidden" name="user[account_type]" id="user_account_type" value="jobseeker">
          <% else %>
            <input type="hidden" name="user[account_type]" id="user_account_type" value="employer">
          <% end %>
      <div class="span2 offset1"><%= f.submit "Update", :class => "m-btn blue btn-block" %></div>
    <% end %>
  </div>
</div>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class =>"btn btn-warning", :style => "margin-top:-55px; margin-left: 550px;" %>
<div class="span2 offset4">
  <%= link_to " << Back", :back, :class => "btn btn-block" %>
  <p>&nbsp</p>
</div>
</div>
