<h1>Listing spaces_userss</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Space_ID</th>
   
  </tr>

<% @spaces_users.each do |spaces_users| %>
  <tr>
    <td><%= spaces_users.user_id %></td>
    <td><%= spaces_users.space_id %></td>
   

    <td><%= link_to 'Show', spaces_users %></td>
   
    <td><%= link_to 'Destroy', spaces_users, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New spaces_users', new_spaces_user_path %>