 <p id="notice"><%= notice %></p>

<p>
  <b>user_id:</b>
  <%= @spaces_users.user_id %>
</p>
 <%= @uid %>
<%= @spaces_users %>
<p>
  <b>space_id:</b>
  <%= @spaces_users.space_id %>
</p>





<%= link_to 'Edit', edit_spaces_user_path(@spaces_users) %> |
<%= link_to 'Back', spaces_users_path %>