.container-fluid
	.row.post-main-page
		=render "layouts/nav-link-secondary"
		.row.applicants-content-row
			.row.top-head
				%a{:href=>"/static_pages/posts"} < Back To Job Postings
				%br/
				%br/
				%h4= @job.job_title
				%label
					Posted on: 
					= @job.created_at.to_formatted_s(:short)
					%a{:href=>post_job_path(@job)} View
					or
					%a{:href=>edit_post_job_path(@job)} Edit 
					this Job.
			.row.head
				%label
					= @applicants.count  
					Applicants
			- @applicants.each do |applicant|
				.row.applicants-item
					.span8
						%a{:href=>"#"}= applicant.user.full_name
						%label= applicant.bid_sentence
						= link_to applicant.pictures.first.image_file_name, image_path(applicant.pictures.first.image), :class=>"attache_file"
					.span4
						%a.m-btn.blue.contact-button{"data-toggle" => "modal", :href => "#myModal", :role => "button", :rel => "#{@job.job_title}", :type=>"#{current_user.email}" } Contact
			.row.last-row{:style=>"text-align:right;"}
				=will_paginate @applicants, :param_name => 'page_num'

:javascript
	$('div.nav-link ul li').eq(1).removeClass('current-tab');
	$('div.nav-link ul li').eq(0).addClass('current-tab');
