<td><%= title %></td>
<td><%= description %></td>
<td><%= city %></td>
<td><%= state %></td>
<td><%= zip %></td>
<td><%= field %></td>
<td><%= tag %></td>
<td><%= visibility %></td>
<td><%= logo %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>