<%= render "layouts/banner" %>  
<div class="wrapper">
    <div class="cont_inner">
      <ul>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
        <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span>
          <label>
          <ul>
            <li>From $130</li>
            <li><a href="#">Pick Up</a></li>
          </ul>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <%= render "layouts/content_bottom" %>