= form_for @country do |f|
  - if @country.errors.any?
    #error_explanation
      %h2= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :iso_code_2
    = f.text_field :iso_code_2
  .field
    = f.label :iso_code_3
    = f.text_field :iso_code_3
  .field
    = f.label :address_format
    = f.text_field :address_format
  .field
    = f.label :postcode
    = f.text_field :postcode
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
