= simple_form_for @group, :html => { :class => 'form-horizontal' } do |f|
	= f.input :name
	= f.input :title
	= f.input :description
	= f.input :ispublic
	= f.input :moderator
	.form-actions
		= f.button :submit, :class => 'btn-primary'
		= link_to t('.cancel', :default => t("helpers.links.cancel")), groups_path, :class => 'btn'
