.container-fluid
	.row.post-main-page{:style=>"margin-top:20px;margin-bottom:20px;"}
		.row
			.span9.page-msg-box
				%p 
					If you want to edit your job, Please go back to the Form Window.
					%a{:href=>"#", :onclick=>"window.close(); window.history.back();"}Close Preview
		.row
			.span10.post-jobs-show-box
				.row
					.span10
						%h1= @post_job.job_title
				.row
					.span3
						%strong 
							Job Type: 
					.span8
						%span=@post_job.get_jobtype
				- if @post_job.job_type == 0
					.row
						.span3
							%strong 
								Salary: ($)
						.span8
							%label= @post_job.salary_amount
				- else
					.row
						.span3
							%strong 
								Duration(hours): 
						.span8
							%label= @post_job.job_duration
					.row
						.span3
							%strong 
								Hourly Rate: ($) 
						.span8
							%label= @post_job.hourly_amount

				.row
					.span3
						%strong 
							City: 
					.span8
						%label= @post_job.job_city
				.row
					.span3
						%strong 
							State: 
					.span8
						%label= @post_job.job_state				
				.row
					.span3
						%strong 
							Work Authorization: 
					.span8
						-@post_job.work_authorizations.each do |autho|
							.row
								.span1
									=image_tag("view_tickl.png")
								.span6
									%label=autho.desc
				.row
					.span3
						%strong 
							Description: 
					.span8
						%label= markdown(@post_job.job_description)
				.row
					.span3
						%strong 
							Skills: 
					.span8
						-@post_job.skill_lists.each do |skill_name|
							%a.h1bwiki-skill{:href=>"#"}=skill_name.name
				.row
					.span3
						%strong 
							Referral Amount: 
					.span8
						%label= @post_job.refe_amount
	:javascript 
		$('ul.nav-tabs li').eq(1).addClass('isCurrent');
