- @search_company_res.each do |search_emp_job|
	.row
		.span12.search-result-item
			.row.title-row
				.span8
					.row
						= link_to search_emp_job.job_title, post_job_path(search_emp_job), :class=>"item-title", :target => "_blink"
					.row
						- user = User.find_by_id(search_emp_job.user_id)
						%small #{user.company_name.nil? ? user.user_name : user.company_name } -	#{search_emp_job.job_city} ,	#{search_emp_job.job_state}
				.span4
					%p.created-date
						Date Posted:
						=l search_emp_job.created_at, :format =>"%Y-%m-%d %H:%M"
			.row.description
				.span8
					.row
						.view-details-box.more= raw search_emp_job.job_description
					.row{:style=>"margin-top: 10px;"}
						- if search_emp_job.class.name != "PostTraining"
							%p.skill-tags 
								Skills Needed :
								-search_emp_job.skill_lists.each do |skill_name|
									%a.skill-tags{:href=>"#"}=skill_name.name

				.span4.skill-tags
					- if search_emp_job.class.name == "PostJob"
						- if search_emp_job.referral_amount.present?
							.row{:style=>"margin-bottom:5px;"}
								.span5{:style=>"width:86px; height:26px;"}
									%label.referral Referral
								.span5{:style=>"width:94px; height:34px;margin-left:2px;"}
									%label.refferral_amount= search_emp_job.refe_amount
					.row
						- if false #.button-box
							-if current_user.present?
								-if user.id != current_user.id
									%a.m-btn.blue.contact-button{"data-toggle" => "modal", :href => "#myModal", :role => "button", :rel => "#{search_emp_job.job_title}", :type=>"#{user.email}" } Contact
							- else
								%a.m-btn.blue.contact-button{"data-toggle" => "modal", :href => "#myModal", :role => "button", :rel => "#{search_emp_job.job_title}", :type=>"#{user.email}" } Contact
			.row.last-row
				.span8
					= link_to "View", post_job_path(search_emp_job), :class=>"m-btn blue", :target => "_blink"
				.span4
					%p.post-type Jobs Offered
-if @search_company_res.present?
	.row
		=will_paginate @search_company_res, :param_name => 'page_num'