.container-fluid
	.row.post-main-page
		=render "layouts/nav-link-secondary"
		.row.first-row			
			.span12.show-postings-tab-box{:style=>"margin-top: 50px;"}
				.row		
					#content
						%ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
							%li.active
								%a.tab{"data-toggle" => "tab", :href => "#jobs"} Jobs
							%li
								%a.tab{"data-toggle" => "tab", :href => "#trainings"} Training/Placements
							%li{style: 'float: right'}
								= link_to "Post a Job / Training", post_main_path, class: 'btn btn-primary', style: 'border-radius: 4px 4px 4px 4px;margin-bottom: 20px;margin-top: -5px;position: absolute;width: 160px;'
							// %li
							// %a{"data-toggle" => "tab", :href => "#mentors"} MENTOR ASSISTANCE
						#my-tab-content.tab-content
							#jobs.tab-pane.active
								.span12.post-jobs-box{:style=>"padding:0px;"}
									%table.table.table-striped
										%thead
											%tr
												%th{:width=>"40%"} Title
												%th{:width=>"10%"} Applicants
												%th{:width=>"20%"} Type
												%th{:width=>"15%", style:'border-bottom:1px solid #eaeaea'} Created on
												%th{:width=>"15%", style:'border-bottom:1px solid #eaeaea'}  Actions
										%tbody
											- @post_jobs.each do |post_job|
												%tr
													%td= link_to post_job.job_title, edit_post_job_path(post_job), :class=>"link-job-title"
													%td{:style=>"text-align:center"}
														%a{:href=>"/applicants?id="+post_job.id.to_s}= post_job.applicants.count
													%td{:style=>"text-align:center"} Jobs Offered
													%td=l post_job.created_at, :format =>"%Y-%m-%d %H:%M"
													%td
														= link_to edit_post_job_path(post_job), :class => 'btn btn-mini btn-primary' do
															%i.icon-edit &nbsp;Edit
														= link_to post_job, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
															%i.icon-trash &nbsp;Delete
											%tr
												%td{:colspan=>"3", :class=>"pagenate"}=will_paginate @post_jobs, :param_name => 'job_page'

							#trainings.tab-pane
								.span12			
									%table.table.table-striped
										%thead
											%tr
												%th{:width=>"50%"} TITLE
												%th{:width=>"20%"} TYPE
												%th{:width=>"15%"} CREATED AT
												%th{:width=>"15%"} ACTIONS
										%tbody
											- @post_trainings.each do |post_training|
												%tr
													%td= link_to post_training.job_title, edit_post_training_path(post_training), :class=>"link-job-title"
													%td Trainings Offered
													%td=l post_training.created_at, :format =>"%Y-%m-%d %H:%M"
													%td
														= link_to edit_post_training_path(post_training), :class => 'btn btn-mini btn-primary' do
															%i.icon-edit &nbsp;Edit
														= link_to post_training, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
															%i.icon-trash &nbsp;Delete
											%tr
												%td{:colspan=>"3", :class=>"pagenate"}=will_paginate @post_trainings, :param_name => 'trining_page'
							#mentors.tab-pane
								.span12
									%table.table.table-striped
										%thead
											%tr
												%th{:width=>"50%"} TITLE
												%th{:width=>"20%"} TYPE
												%th{:width=>"15%"} CREATED AT
												%th{:width=>"15%"} ACTIONS
										%tbody
											- @post_mentors.each do |post_mentor|
												%tr
													%td= link_to post_mentor.job_title, edit_post_mentor_path(post_mentor), :class=>"link-job-title"
													%td Mentor Assistance Offered
													%td=l post_mentor.created_at, :format =>"%Y-%m-%d %H:%M"
													%td
														= link_to edit_post_mentor_path(post_mentor), :class => 'btn btn-mini btn-primary' do
															%i.icon-edit &nbsp;Edit
														= link_to post_mentor, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
															%i.icon-trash &nbsp;Delete
											%tr
												%td{:colspan=>"3", :class=>"pagenate"}=will_paginate @post_mentors, :param_name => 'mentor_page'
:javascript 
	$('ul.nav-tabs li').eq(1).addClass('isCurrent');
	$('div.nav-link ul li').eq(1).removeClass('current-tab');
	$('div.nav-link ul li').eq(0).addClass('current-tab');

	var cur_tab = #{session[:cur_tab].presence || 0}
	$("#tabs li").each(function(){
		$(this).removeClass("active");
	});
	$("#my-tab-content div").each(function(){
		$(this).removeClass("active");
	});	
	$("#tabs li").eq(cur_tab).addClass("active");
	$("#my-tab-content div.tab-pane").eq(cur_tab).addClass("active");