
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Core Training</h3>
  </div>

  <div class="panel-body">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="..." alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Foundation Fundamentals</h4>
          This is a test description come check it out.
           <!-- Nested media object -->
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="http://img.photobucket.com/albums/v628/chaosauron/test_zpsfccc7e56.png">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><%= link_to "Introduction to Toprocks", core_foundation_toprock_path %></h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <!-- Nested media object -->
                  </div>

                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="http://img.photobucket.com/albums/v628/chaosauron/test_zpsfccc7e56.png">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading"><%= link_to "Footwork Foundation 1: The Six Step & Cross-Overs", core_foundation_footwork1_path %></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="http://img.photobucket.com/albums/v628/chaosauron/test_zpsfccc7e56.png">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading"><%= link_to "Footwork Foundation 2: The Three Step, Zulu Spins, Sweep", core_foundation_footwork2_path %></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>

          <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="data:image/png;base64,">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading"><%= link_to "Fundamental Freezes 1: Plank, Baby, Crossleg", core_foundation_freeze1_path %> </h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="data:image/png;base64,">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading"><%= link_to "Fundamental Freezes 2: Chair ", core_foundation_freeze2_path %></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>

                </div>
                <!-- Nested media object -->
        </div>
      </li>
    </ul>


    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="..." alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Power Moves Now</h4>
          This is a test description come check it out.
           <!-- Nested media object -->
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="data:image/png;base64,">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"> <%= link_to "Swipes", core_power_swipes_path %> </h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="data:image/png;base64,">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"> <%= link_to "Flares", core_power_flares_path %> </h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>


                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="data:image/png;base64,">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"> <%= link_to "The Turtle", core_power_turtles_path %></h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <!-- Nested media object -->
                  </div>

                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image" src="data:image/png;base64,">
                    </a>
                    <div class="media-body">
                    <h4 class="media-heading"> <%= link_to "Hand Glides & Crickets", core_power_glides_path %></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                  </div>



                </div>
                <!-- Nested media object -->
        </div>
      </li>
    </ul>

<ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="..." alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to "Body Rock Abs", core_bodyrock_abs_path %></h4>
          This is a test description come check it out.
        </div>
      </li>
    </ul>


  </div>
</div>
