
<h4>Core Foundations</h4>
  	<div class="list-group">


  	<% if current_page?(core_foundation_toprock_path) %>
  	<%= link_to 'Toprocks', core_foundation_toprock_path, {:class=>"list-group-item active"} %>
  	<% else %>
  	<%= link_to 'Toprocks', core_foundation_toprock_path, {:class=>"list-group-item"} %>
  	<% end %>

  	<% if current_page?(core_foundation_footwork1_path) %>
  	<%= link_to 'Footwork Part: 1', core_foundation_footwork1_path, {:class=>"list-group-item active"} %>
  	<% else %>
  	<%= link_to 'Footwork Part: 1', core_foundation_footwork1_path, {:class=>"list-group-item"} %>
  	<% end %>

  	<% if current_page?(core_foundation_footwork2_path) %>
  	<%= link_to 'Footwork Part: 2', core_foundation_footwork2_path, {:class=>"list-group-item active"} %>
  	<% else %>
  	<%= link_to 'Footwork Part: 2', core_foundation_footwork2_path, {:class=>"list-group-item"} %>
  	<% end %>

      <% if current_page?(core_foundation_freeze1_path) %>
    <%= link_to 'Freezes Part: 1', core_foundation_freeze1_path, {:class=>"list-group-item active"} %>
    <% else %>
    <%= link_to 'Freezes Part: 1', core_foundation_freeze1_path, {:class=>"list-group-item"} %>
    <% end %>

    <% if current_page?(core_foundation_freeze2_path) %>
    <%= link_to 'Freezes: Chair', core_foundation_freeze2_path, {:class=>"list-group-item active"} %>
    <% else %>
    <%= link_to 'Freezes: Chair', core_foundation_freeze2_path, {:class=>"list-group-item"} %>
    <% end %>
	</div>

<h5>Other Core Sections</h5>
    <div class="list-group">

    <%= link_to 'Power Moves Now', core_power_swipes_path, {:class=>"list-group-item"} %>

    <%= link_to 'Bodyrock Abs', core_bodyrock_abs_path, {:class=>"list-group-item"} %>
  </div>

	<% if current_page?(basics_foundationprinciples_path)%>
		<div class="list-group">
			<h4>Next Section</h4>
			<%= link_to 'Core Training ->', core_path, {:class=>"list-group-item"} %>
		</div>
	<% end %>

		<div class="list-group">
			<%= link_to '<- Back to index', root_path, {:class=>"list-group-item"} %>
		</div>