<div class="row">

  <div class="col-xs-3">

    <h5>Other Core Sections</h5>
    <div class="list-group">

      <%= link_to 'Foundation Fundamentals', core_foundation_toprock_path, {:class=>"list-group-item"} %>

      <%= link_to 'Bodyrock Abs', basics_wriststretches_path, {:class=>"list-group-item"} %>
    </div>


        <div class="list-group">
          <h4>Next Section</h4>
          <%= link_to 'Target Training ->', core_path, {:class=>"list-group-item"} %>
        </div>


  </div>

  <div class="col-xs-9">
    <h3>Bodyrock Abs</h3>
  <iframe src="//player.vimeo.com/video/76790135?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <ul class="pager">
      <li class="previous">
        <%= link_to '<- Back: Power Moves', core_power_swipes_path %>
      </li>
      <li class="next">
        <%= link_to 'Next Section: Target Training ->', core_foundation_footwork2_path %>
      </li>
  </ul>

  </div>
</div>

<br>
<div class="jumbotron">
    <h2>Foundation Fundamentals: Footwork Foundation 1</h2>
    <p>Description content instructions go here.</p>
</div>