<%= form_for(@resource,:html => { :multipart => true } ) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :pointer %><br />
    <%= f.text_field :pointer %>
  </div>
  <div class="field">
  	<%= f.label :attachment %><br />
    <%= f.file_field :attach %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :update_at %><br />
    <%= f.datetime_select :update_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
