<small>
  <div id="footer">
    <div class="container">
      <div class="footer-content">
        <ul class="foot-img">
          <li><%= link_to(image_tag('footer-ico.png'), "#")%></li>
          <li></li>
          <li><%= link_to(image_tag('footer-ico-f.png'), "#")%></li>
        </ul>
        <span>&copyCloudxify 2012 All rights reserved.</span>
        <ul class="foot-link">
          <li><%= link_to 'Terms of agreement', "#"%></li>
          <li><%= link_to 'Privacy terms', "#"%></li>
          <li><%= link_to 'Contact Us', "#"%></li>
        </ul>
      <div>
    </div>
  </div>
</small>