<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hircle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%#= stylesheet_link_tag    "application", :media => "all" %>

    <%= stylesheet_link_tag  "bootstrap.css" %>
    <%= stylesheet_link_tag  "style.css" %>
    <%= stylesheet_link_tag  "bootstrap-responsive.css" %>
    <%= stylesheet_link_tag  "bootstrap-datetimepicker.min.css" %>
    <%= stylesheet_link_tag  "prettify.css" %>
    <%= stylesheet_link_tag  "jquery.timepicker.css" %>
    <%= stylesheet_link_tag  "select2" %>
    <%= stylesheet_link_tag  "datepicker.css" %>


    <%= stylesheet_link_tag  "job-seeker" %>    

    <%= stylesheet_link_tag  "network.css" %>
    <%= stylesheet_link_tag  "select2.css" %>
    <%= stylesheet_link_tag  "docs.css" %>

   
    <%= stylesheet_link_tag  "fullcalendar.css" %>
    <%= stylesheet_link_tag  "fullcalendar.print.css" %>

	
    <!-- added by crane -->    	    
    <%= stylesheet_link_tag  "pusher-chat-widget.css" %> 
    <%= stylesheet_link_tag  "dashboard.css" %>	
		<!-- end -->     
    
		<%= stylesheet_link_tag  "select2.min.css" %>
	
		<%#= stylesheet_link_tag  "user_settings/datepicker.css" %>
		<%= stylesheet_link_tag  "user_settings/dailog.css" %>
		<%= stylesheet_link_tag  "user_settings/calender.css" %>
		<%= stylesheet_link_tag  "user_settings/dp.css" %>
		<%= stylesheet_link_tag  "user_settings/alert.css" %>
		<%= stylesheet_link_tag  "user_settings/main.css" %>
        

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag  "http://localhost:9292/faye.js" %>
    <%= include_gon %>
   <!-- Fav and touch icons -->


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
   
  <link rel="shortcut icon" href="/assets/ico/favicon.ico" />
  
   <%= csrf_meta_tags %>
  
  </head>
  <body>
  <div id="fb-root"></div>	
  <!-- chat div -->
  <!--<div id="chat_segment" style="position: absolute;right: 50px;bottom: 50px;z-index: 10;">-->
    <!--<div id="chat_window" style="position: relative;width:300px;height:170px;background-color:gray;">-->


    <!--</div>-->
    <!--<div id="chat_text" style="position: relative;width:300px;height:30px;background-color:green;">-->
      <!--<input type="text" name="chat">-->
      <!--<input type="button" value="send" id="chat_send">-->
    <!--</div>-->
  <!--</div>-->

    <div id="wrap">
      <%- if controller_name == "sessions" && action_name == "new" %>
      <% else %>
		<% unless current_user.blank? %>
		 <%- if current_user.role.name == "Job Seeker" %>
        <%= render :partial => "/layouts/job_seeker_header_menu" %>
		<% else %>
		<%= render :partial => "/layouts/employer_header_menu" %>
		<%- end %>
		<% end %>
      <%- end %>
      <%= yield %>
      <%- if controller_name == "sessions" && action_name == "new" %>
      <% else %>
        <%= render :partial => "/layouts/footer" %>
      <%- end %>
    </div>
    <%= yield :js%>
  </body>

</html>
