<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @conversation.content %>
</p>

<p>
  <b>Company:</b>
  <%= @conversation.company_id %>
</p>

<p>
  <b>User:</b>
  <%= @conversation.user_id %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
