= form_for @jobseeker_training, :html => { :class => 'form-horizontal', 'data-validate' => 'parsley', :id => 'job_post_form' } do |f|
	= f.hidden_field :user_id, :value=>current_user.id
	.control-group
		= f.label :job_title, 'Title:', :class => 'control-label'
		.controls
			= f.text_field :job_title, :class => 'text_field large-field', 'data-required'=>'true', 'data-rangelength'=>'[5,50]'
	.control-group
		= f.label :status, 'Immigration Status:', :class => 'control-label'
		.controls.custom-select		 
			= f.select(:status,[['No Status (Not in USA)',0],['OPT / CPT',1],['H-1B',2],['L-1 / L-2',3],['H-4',4]] )
	.control-group
		= f.label :transfer, 'Need H-1B / Transfer:', :class => 'control-label'
		.controls.custom-select
			= f.select(:transfer,[['Yes',1],['No',0]] )
	.control-group
		= f.label :technology, 'Technology:', :class => 'control-label'
		.controls
			= f.text_field :technology, :class => 'text_field', 'data-required'=>'true'
	.control-group
		= f.label :instruction_mod, 'Instruction Mode:', :class => 'control-label'
		.controls.custom-select
			= f.select(:status,[['Class Room',0],['Online',1],['Class Room & Online',2]] )
	.control-group
		= f.label :accomodation, 'Need Accomodation:', :class => 'control-label'
		.controls.custom-select
			= f.select(:accomodation,[['Yes',1],['No',0]] )
	.control-group
		= f.label :job_description, 'Description:', :class => 'control-label'
		.controls
			= f.text_area :job_description, :class => 'text_area', :rows => '5', 'data-required'=>'true', 'data-rangelength'=>'[5,250]'
	.form-actions
		= link_to( '< Back ', jobseeker_post_main_path, :class => "m-btn" ) 
		= f.submit 'Submit', :class => 'm-btn blue', :id => "btn_post_create"
		= f.submit 'Preview', :class => 'm-btn', :id=>"btn_post_preview"
		= link_to t('.cancel', :default => t("helpers.links.cancel")), jobseeker_posts_path, :class => 'm-btn'
