<div id="nav">
	<%= link_to "COMMERCIAL", browse_path(category: "Commercial") %>
	<%= link_to "PROMO", browse_path(category: "Promo") %>
	<%= link_to "NARRATION/DOCUMENTARY", browse_path(category: "Narration/Documentary") %>
	<%= link_to "POLITICAL", browse_path(category: "Political") %>
	<%= link_to "TRAILER", browse_path(category: "Trailer") %>
	<%= link_to "ANIMATION", browse_path(category: "Animation") %>
	<%= link_to "BOOKS ON TAPE", browse_path(category: "Books on Tape") %>
	<%= link_to "FileUpload", uploads_path %>
</div><!-- nav -->