

<li class="active" ><div class="added"><span class="added-num" ><%= id %></span>.<span class="added-content" departmentid="<%= id %>"><%= name %></span><a href="#/<%= id %>/destroy" id="destroy" ><div class="icon-remove"></div></a><a href="#/<%= id %>/edit" class="icon-pencil"></a></div></li>
										