= render 'header'
#messages
  %ul{class: "nav nav-pills"}
    %li= link_to I18n.t('links.messages.inbox'), inbox_admin_user_messages_path(@user)
    %li.active= link_to I18n.t('links.messages.sent'), sent_admin_user_messages_path(@user)
  %table.table.table-bordered.table-hover
    %thead
      %th= I18n.t('views.messages.recipient')
      = render partial: 'thead'
    %tbody
      - @sent_messages.each do |message|
        %tr{id: "message_#{message.id}", "data-id" => message.id, "data-user" => @user.id }
          %td= link_to message.recipient.username, admin_user_path(message.recipient.username)
          = render partial: "message", locals: { message: message }
  = paginate @sent_messages

:coffeescript
  $('tr[id*=message_]').click ->
    id = $(this).data('id')
    user_id = $(this).data('user')
    $.get('/admin/users/' + user_id + '/messages/'+ id + '.js')
