= form_for @post_mentor, :html => { :class => 'form-horizontal', "data-validate" => "parsley", :id => "job_post_form" } do |f|
	= f.hidden_field :user_id, :class => 'number_field', :value=>current_user.id
	.control-group
		= f.label :job_title, "Title", :class => 'control-label'
		.controls
			= f.text_field :job_title, :class => 'text_field large-field', "data-required"=>"true", "data-rangelength"=>"[5,50]"
	.control-group
		= f.label :skill_tokens, "Require Skills",:class => 'control-label'
		.controls
			= f.text_field :skill_tokens, :class => 'text_field large-field', :id => "skill_input_box", "data-pre" => @post_mentor.skill_lists.map(&:attributes).to_json, "data-required"=>"true"
	.control-group
		= f.label "Interview Support", :class => 'control-label'
		.controls.custom-select
			= f.select(:job_interview,[['Yes',1],['No',0]] )
	.control-group
		= f.label :job_description, "Description", :class => 'control-label'
		.controls
			= f.text_area :job_description, :class => 'text_area', :rows => 3, "data-required"=>"true", "data-rangelength"=>"[5,2500]"
	= f.submit "Continue", :class => 'm-btn blue', :id => "btn_post_create", :style=>"font-size: 30px;height: 58px;width: 100%;"
	.form-actions{:style=>"padding:20px 0"}
		= link_to( 'Back ', post_main_path, :class => "btn",:style=>"color: rgb(170, 170, 170);font-size: 30px;height: 40px;padding-top: 20px;width: 245px;")
		= f.submit 'Preview', :class => 'm-btn blue', :id=>"btn_post_preview", :style=>"font-size: 30px;height: 60px;margin-left: 70px;margin-right: 70px;width: 245px;"
		= link_to t('.cancel', :default => t("helpers.links.cancel")), posts_view_path, :class => 'btn', :style=>"color: rgb(170, 170, 170);font-size: 30px;height: 40px;padding-top: 20px;width: 245px;"
:javascript 
	$('ul.nav-tabs li').eq(2).addClass('isCurrent');
	