<div class="container-fluid">
	<div class="row devise-pages">	
		<div class = "span8 offset1 password-new">
			<div>
			<h2>We'll help you remember your password</h2>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
			  <%= devise_error_messages! %>
			  <div class="row">
			  	<div class="spaan1">
			  		<%= f.label :email, :class => "control-label" %>
			  	</div>
			  	<div class="spaan2">
						<%= f.email_field :email, :autofocus => true, :placeholder => "your@email.com", :style => "width:250px;" %>
			  	</div>
			  </div>	  

				<div class="row" style="margin-top:20px;">
			  	<div class="span2 offset1" style="margin-left:160px;"><%= f.submit "Retrive Pasword", :class => "m-btn blue" %></div>
			  </div>
			<% end %>
		</div>
		</div>	
	</div>
</div>