= form_for [:admin, @flirt], html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :message, class: 'control-label'
    .controls
      = f.text_field :message, class: 'text_field'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_flirt_path(@flirt), class: 'btn'
